### Gradle ###
.gradle
/build/
.vscode

# Package Files #
*.jar
*.war
*.ear

### Java ###
*.class

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Linux ###
.*
!.gitignore
!.git*
*~

### Maven ###
target/

/bin