.header {
    display: flex;
    padding: 10px 0px;
    margin: 0px 0px ;
    background-color: rgb(167, 167, 167);
    color: white;
    font-size: 30px;
    justify-content: center;
    height: fit-content;
    line-height: 0.0rem;
    /* justify-content: space-between; */
}
#title {
    margin-left: auto;
    font-size: 20px;
}

#menu {
    line-height: 00.1rem;
    margin-left: auto;
    max-height: fit-content;
}